In [1]:
import pandas as pd 
data = pd.read_csv("FOMC_token_separated_col.csv") 
data

,Unnamed: 0,Date,Date.1,Section,Speaker,content
0,0,198708,198708,1,CORRIGAN,think can billion laughter
1,1,198708,198708,1,GREENSPAN,assum approv thank mr prell
2,2,198708,198708,1,PRELL,statement_appendix
3,3,198708,198708,1,PARRY,question forecast look forecast third_quarter ...
4,4,198708,198708,1,PRELL,will know sure quarter look next week number p...
...,...,...,...,...,...,...
26548,26548,200601,200601,2,MOSKOW,mr chairman tenur fomc success anchor term_inf...
26549,26549,200601,200601,2,GREENSPAN,thank governor olson
26550,26550,200601,200601,2,OLSON,thank mr chairman_support point_increas statem...
26551,26551,200601,200601,2,GREENSPAN,presid lacker
26552,26552,200601,200601,2,LACKER,support point_move today mr chairman_support l...

In [2]:
data['Date'] = data['Date'].astype(str)

In [3]:
data.dtypes

Unnamed: 0     int64
Date          object
Date.1         int64
Section        int64
Speaker       object
content       object
dtype: object

In [3]:
data["Doc"] = data["Date"] + data["Speaker"]
data

,Unnamed: 0,Date,Date.1,Section,Speaker,content,Doc
0,0,198708,198708,1,CORRIGAN,think can billion laughter,198708CORRIGAN
1,1,198708,198708,1,GREENSPAN,assum approv thank mr prell,198708GREENSPAN
2,2,198708,198708,1,PRELL,statement_appendix,198708PRELL
3,3,198708,198708,1,PARRY,question forecast look forecast third_quarter ...,198708PARRY
4,4,198708,198708,1,PRELL,will know sure quarter look next week number p...,198708PRELL
...,...,...,...,...,...,...,...
26548,26548,200601,200601,2,MOSKOW,mr chairman tenur fomc success anchor term_inf...,200601MOSKOW
26549,26549,200601,200601,2,GREENSPAN,thank governor olson,200601GREENSPAN
26550,26550,200601,200601,2,OLSON,thank mr chairman_support point_increas statem...,200601OLSON
26551,26551,200601,200601,2,GREENSPAN,presid lacker,200601GREENSPAN
26552,26552,200601,200601,2,LACKER,support point_move today mr chairman_support l...,200601LACKER

In [4]:
df=data[['Doc','content']]
df['Doc'] = df['Doc'].astype('str') 
df['content'] = df['content'].astype('str') 
df.dtypes

/Users/Zhe/opt/anaconda3/envs/scholar/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Zhe/opt/anaconda3/envs/scholar/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Doc        object
content    object
dtype: object

In [5]:
# https://stackoverflow.com/questions/38127209/how-to-use-groupby-to-concatenate-strings-in-python-pandas
document = df.groupby('Doc')['content'].apply(','.join)
document

Doc
198708ANGELL         way manley speech think hear say uncertainti c...
198708BERNARD        oper paragraph problem mr cross mr truman poin...
198708BLACK          mr chairman_think staff done unusu good job de...
198708BOEHNE         explor coupl area point percent unemploy get k...
198708BOYKIN         mr chairman forecast pretti_much agreement sta...
                                           ...
200601STERN          thank mr chairman let start anecdot hous_activ...
200601STOCKTON       final exhibit present econom project central_t...
200601STOCKTON.2     recent configur data_suggest extent notic weak...
200601STRUCKMEYER    next exhibit detail suppli_side assumpt staff_...
200601YELLEN         thank mr chairman recent_data econom_activ sum...
Name: content, Length: 3430, dtype: object

In [6]:
document = document.reset_index()

In [7]:

document.columns = ['id','text']
document

                     id                                               text
0          198708ANGELL  way manley speech think hear say uncertainti c...
1         198708BERNARD  oper paragraph problem mr cross mr truman poin...
2           198708BLACK  mr chairman_think staff done unusu good job de...
3          198708BOEHNE  explor coupl area point percent unemploy get k...
4          198708BOYKIN  mr chairman forecast pretti_much agreement sta...
...                 ...                                                ...
3425        200601STERN  thank mr chairman let start anecdot hous_activ...
3426     200601STOCKTON  final exhibit present econom project central_t...
3427   200601STOCKTON.2  recent configur data_suggest extent notic weak...
3428  200601STRUCKMEYER  next exhibit detail suppli_side assumpt staff_...
3429       200601YELLEN  thank mr chairman recent_data econom_activ sum...

[3430 rows x 2 columns]

In [9]:
document.to_json('speaker_doc.jsonlist',orient='records', lines=True)

In [9]:
document.to_csv("speaker_doc.csv")

In [10]:
import csv
import json

with open('speaker_doc.csv') as f:
    reader = csv.DictReader(f)
    rows = list(reader)

with open('speaker_doc.json', 'w') as f:
    json.dump(rows,f)

In [61]:
import json
file=open('speaker_doc.json','w')
print(" ".join([str(text) for text in file]))

UnsupportedOperation: not readable

In [10]:
import preprocess_data
script = 'preprocess_data.py'
args = '/Users/Zhe/PycharmProjects/scholar/speaker_doc.jsonlist /Users/Zhe/PycharmProjects/scholar --min-doc-count 90'
print("python", script, args)
preprocess_data.main(args.split())

python preprocess_data.py /Users/Zhe/PycharmProjects/scholar/speaker_doc.jsonlist /Users/Zhe/PycharmProjects/scholar --min-doc-count 90
Using snowball stopwords
Reading data files
Found 3430 training documents
Parsing 3430 documents
Size of full vocabulary=11333
Selecting the vocabulary
Vocab size after filtering = 1621
Final vocab size = 1621
Most common words remaining: think rate growth economi year time market price chairman point
Converting to count representations
Size of train document-term matrix: (3430, 1621)
0 words missing from training data
Done!